@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope);
  --font-display: var(--font-syne);

  --color-void: #030303;
  --color-starlight: #Fdfdfd;
  --color-ethereal: #5DFDFF;

  --animate-float: float 6s ease-in-out infinite;

  --animate-gradient: gradient 8s linear infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% center;
    }

    100% {
      background-position: 200% center;
    }
  }


}

/* Custom CSS */
body {
  background-color: var(--color-void);
  color: var(--color-starlight);
  position: relative;
}



/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* Text Selection */
::selection {
  background: rgba(253, 253, 253, 0.9);
  color: #000;
}

/* Utilities */
@layer utilities {
  .glass-panel {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }

  .text-gradient {
    background: linear-gradient(to right, #fff, #888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}